<div class="category-card">
  <div class="category-header">
    @if (editMode) {
      <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>
    }
    <span class="category-emoji">{{ category.emoji ?? '' }}</span>
    <span class="category-name">{{ category.name }}</span>
    @if (editMode) {
      <div class="category-actions">
        <button mat-icon-button (click)="editCategory.emit(category)"
                aria-label="Modifier la catégorie">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCategory.emit(category)"
                aria-label="Supprimer la catégorie">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>

  <div cdkDropList
       [id]="'links-' + category.id"
       [cdkDropListData]="links"
       [cdkDropListConnectedTo]="connectedTo"
       (cdkDropListDropped)="dropLink($event)"
       class="link-list"
       [class.edit-mode]="editMode">
    @for (link of links; track link.id) {
      <app-link-item
        cdkDrag
        [cdkDragDisabled]="!editMode"
        [link]="link"
        [editMode]="editMode"
        (editLink)="editLink.emit($event)"
        (deleteLink)="deleteLink.emit($event)" />
    }
    @if (editMode) {
      <button mat-button class="add-link-button" (click)="addLink.emit(category.id)">
        <mat-icon>add</mat-icon>
        Ajouter un lien
      </button>
    }
  </div>
</div>
