<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="text-center pt-3 pb-5 ">
    <h1>Dashboard</h1>
</header>
<main>
    <div class="container">
        <div class="form-container">
            A venir
        </div>
    </div>
</main>

<footer class="text-center pt-5 footer">
    <span th:text="'v' + ${appVersion}"></span> - Powered by <a href="https://github.com/Manurobate/Dashboard"
                                                                target="_blank">Github</a>
</footer>

<script src="/js/bootstrap.min.js"></script>

</body>
</html>